<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="<%= ROOT_URL %>/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Mathieu Eveillard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="<%= ROOT_URL %>/styles.css" />
  </head>

  <body>
    <div class="layout-container mdl-grid">
      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h1>Mathieu Eveillard</h1>
        <div>Senior Fullstack JavaScript Developer, Trainer & Technical Coach</div>
        <div>10 years experience</div>
      </div>

      <div class="separator mdl-cell mdl-cell--3-offset-desktop mdl-cell--2-col-desktop"></div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <p>
          Hi! I build software, teach programming and write articles. I started programming when I was 10 by making
          games on a Texas Instrument TI-82 calculator, first in Basic, then in Assembly, C and C++. I hold an Engineer
          Degree of the <a href="https://www.polytechnique.edu/" target="_blank">Ecole Polytechnique</a>, 1st ranked
          French engineering school which offers a wide multidisciplinary scientific education, in particular in
          theoretical computer sciences.
        </p>

        <p>
          I'm based in Paris and currently work at <a href="http://www.arolla.fr/" target="_blank">Arolla</a> as a
          software developer and coach. My areas of focus are Single Page Applications, Functional and Reactive
          programming in TypeScript, software craftsmanship and agility. Though not an expert, I also have a strong
          sensitivity to UX.
        </p>

        <p>
          Prior to joining Arolla, I founded a social-oriented company providing access to energy to low-income people,
          then worked as a project director on a bunch of very large web applications (up to 5000 man-days).
        </p>

        <p>
          Art is another important dimension of my life. I'm mostly interested in
          <a href="http://www.mathieueveillard.com/" target="_blank">photography</a> and drawing as well as playing the
          piano and writing poetry. Also, previously, I ran a lot and I hit a few respectable personal bests: 36'04''
          (10km), 1h19' (half-marathon) and 3h02' (marathon).
        </p>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Hire me</h2>
        I work at <a href="http://www.arolla.fr/" target="_blank">Arolla</a> and I can provide you with three types of
        services. Please contact me preferably by
        <a href="mailto:mathieu.eveillard@arolla.fr" target="_blank">email</a>.
        <ul class="long-ul">
          <li>
            <span class="emphasis">Software development</span>: if you're building a software product and need a senior
            developer with experience in Single Page Applications, Functional programming, Reactive programming, React
            and Redux, as well as a good proficiency on the back-end side, I'm likely to help you by committing a few
            weeks or months to solving your problems.
          </li>
          <li>
            <span class="emphasis">Technical training</span>: I've designed a 3 days intensive training to guide you
            through the learning of React and Redux. This training is best suited for back-end developers wishing to
            discover front-end development while keeping a strong focus on testability and clean code. This 3 days
            hand-on session is a unique opportunity to learn the challenging aspects of React and Redux, those you would
            probably need lots of time to discover by yourself. Find more details
            <a href="https://www.arolla.fr/training/front-end-craftsmanship/" target="_blank">here</a>.
          </li>
          <li>
            <span class="emphasis">Technical coaching</span>: writing code that works is easy, but writing long-lasting,
            maintainable code is an art. Of course, no one writes the best code on the first try, hence the philosophy
            of continuous improvement, core value of software craftsmanship and the clean code movement. Maintenability
            is usually achieved through an inforced concern on code legibility and a well suited testing strategy, which
            allows one to refactor safelly. Speaking of tests, Test Driven Development and Behaviour Driven Development
            bring a lot more than code coverage, since they are a way towards documenting your codebase and are
            associated to significant gains in working efficiency. As a technical coach, I'll be happy to help your
            teams of developers adopt these technics, whatever the paradigms or languages they use.
          </li>
          <!--
            <li>
              <span class="emphasis">Agile coaching</span>: shifting to agility often requires organizations to seek
              external help to explain, convince stakeholders and implement a concrete transformation. As an agile coach,
              I'll be happy to help you with the following facets of agility: user-centered design, transition from
              project to product management, continuous integration, continuous delivery, adoption of Scrum or Kanban
              frameworks, transition from manager to leader, and above all: promoting trust. You might be willing to refer
              to my article
              <a
              href="https://medium.com/@mathieueveillard/lagilit%C3%A9-ou-l-%C3%A9loge-de-la-confiance-9a4ae5e0604e"
              target="_blank"
              >L’agilité ou l’éloge de la confiance</a
              >
              (in French).
            </li>
          -->
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Technical skills</h2>
        <ul>
          <li><span class="emphasis">Methodologies</span>: TDD, BDD, DDD, XP, Kanban, Scrum</li>
          <li>
            <span class="emphasis">Architectures</span>: Single Page Applications, REST, GraphQL, Hexagonal
            architecture, Event Sourcing, Microservices
          </li>
          <li>
            <span class="emphasis">Paradigms</span>: Functional programming, Reactive programming, good notions of
            Object Oriented Programming
          </li>
          <li><span class="emphasis">Languages</span>: JavaScript, TypeScript + RxJS/xstream</li>
          <li><span class="emphasis">Tests</span>: Jest, Enzyme, Chai, Stryker, TestCafé, Cucumber</li>
          <li><span class="emphasis">Front-end</span>: React, Redux, Next.js, MDL, OOCSS, BEM, SASS</li>
          <li><span class="emphasis">Back-end</span>: NodeJS, Express</li>
          <li><span class="emphasis">Databases</span>: PostgreSQL, MongoDB, ElasticSearch</li>
          <li><span class="emphasis">CI-CD</span>: CircleCI, Docker</li>
          <li><span class="emphasis">Cloud</span>: AWS S3, AWS Lambda, Serverless</li>
          <li><span class="emphasis">AI</span>: linear and logistic regression, neural networks, SVMs, K-means, PCA</li>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Publications & Media</h2>
        <ul>
          <li>
            <a href="https://podcast.ausha.co/poddev/programmez-podcast10-04092019" target="_blank"
              >Hexagonal architecture, testability and micro-frontend using Redux</a
            > (Podcast), Interview by François Tonic, Magazine Programmez!, September 4th 2019
          </li>
          <li>
            <a href="https://drive.google.com/file/d/1hFk7e51QMckvD-sRsbpoWOR6jyHBFKty/view" target="_blank"
              >Hexagonal architecture, DDD and Microservices: Frontend & Backend developers finally speak the same
              language</a
            >,
            <a href="https://www.meetup.com/fr-FR/Thales-Factory-Digit-Event/events/262809136/" target="_blank"
              >Meetup</a
            >
            at Thalès Digital Factory, July 11th 2019
          </li>
          <li>
            <a
              href="https://medium.com/@mathieueveillard/trying-to-set-up-my-mind-on-redux-as-an-event-sourcing-system-6a851414f953"
              target="_blank"
              >Trying to set up my mind on Redux as an event sourcing system</a
            >, Medium, July 2019
          </li>
          <li>
            <a
              href="https://www.programmez.com/magazine/article/cyclejs-un-framework-et-une-architecture"
              target="_blank"
              >CycleJS : un framework et une architecture</a
            >, Magazine Programmez! N°228 pp. 19-22, Apr. 2019
          </li>
          <li>
            <a
              href="https://medium.com/@mathieueveillard/single-page-applications-to-be-or-not-to-be-a29db3262d5e"
              target="_blank"
              >Single Page Applications: to be or not to be?</a
            >, Medium, Sep. 2018
          </li>
          <li>
            <a href="https://medium.com/@mathieueveillard/au-secours-l%C3%A9onard-e6a9c7557836" target="_blank"
              >Au secours Léonard !</a
            >, Medium, May 2018
          </li>
          <li>
            <a
              href="https://medium.com/@mathieueveillard/lagilit%C3%A9-ou-l-%C3%A9loge-de-la-confiance-9a4ae5e0604e"
              target="_blank"
              >L’agilité ou l’éloge de la confiance</a
            >, Medium, Sep. 2017
          </li>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>NPM packages</h2>
        <ul>
          <li><a href="https://www.npmjs.com/package/chai-snabbdom" target="_blank">chai-snabbdom</a></li>
          <li><a href="https://www.npmjs.com/package/cycle-lazy-load" target="_blank">cycle-lazy-load</a></li>
          <li><a href="https://www.npmjs.com/package/cycle-resize" target="_blank">cycle-resize</a></li>
          <li><a href="https://www.npmjs.com/package/natural-interface" target="_blank">natural-interface</a></li>
          <li>
            <a href="https://www.npmjs.com/package/react-beautiful-dnd-grid" target="_blank"
              >react-beautiful-dnd-grid
            </a>
          </li>
          <li><a href="https://www.npmjs.com/package/redux-generic" target="_blank">redux-generic</a></li>
          <li>
            <a href="https://www.npmjs.com/package/redux-integration-testing" target="_blank"
              >redux-integration-testing</a
            >
          </li>
          <li>
            <a href="https://www.npmjs.com/package/xstream-combine-unique" target="_blank">xstream-combine-unique</a>
          </li>
          <li>
            <a href="https://www.npmjs.com/package/xstream-debounce-accumulate" target="_blank"
              >xstream-debounce-accumulate</a
            >
          </li>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Side projects</h2>
        <ul class="long-ul">
          <li>
            <div><span class="emphasis">Portfolio</span></div>
            <p>
              <a href="http://mathieueveillard.com/" target="_blank">mathieueveillard.com</a> |
              <a href="https://github.com/mathieueveillard/portfolio" target="_blank">monorepo</a>
            </p>
            <p>
              A turn-key solution for professional photographers wishing to showcase their work in a website suited to
              all devices. The admin interface allows an artist to choose one theme per series of photographs, as
              opposed to most solutions, where the same theme applies to all series.
            </p>
            <p>Portfolio is built of AWS-hosted microservices using React, Redux, Angular, Express and MongoDB.</p>
            <p><img src="<%= ROOT_URL %>/assets/PortfolioGallery.png" /></p>
            <p><img src="<%= ROOT_URL %>/assets/PortfolioAdmin.png" /></p>
          </li>
          <li>
            <div><span class="emphasis">Diary</span></div>
            <p><a href="https://github.com/mathieueveillard/diary" target="_blank">monorepo</a></p>
            <p>
              A diary app, elegant and powerful. Some of us write their thoughts and observations on paper, others
              prefer an online and mobile, yet secured, version. The application implements a Twitter-like infinite
              scrolling via <a href="https://www.npmjs.com/package/cycle-lazy-load" target="_blank">cycle-lazy-load</a>,
              which went open source.
            </p>
            <p>
              Diary is a PWA built of microservices using <a href="https://cycle.js.org/" target="_blank">Cycle.js</a>,
              Express, MongoDB and ElasticSearch, and is deployed with Docker.
            </p>
            <p><img src="<%= ROOT_URL %>/assets/Diary.png" /></p>
          </li>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Testimonials</h2>
        <ul class="long-ul">
          <li>
            <span class="quote"
              >J'ai eu la chance de travailler avec Mathieu sur des projets de conception de systèmes d'information
              métier au sein de Klee Group. De la phase d'étude jusqu'à la réalisation, Mathieu cherche toujours à faire
              du mieux possible dans le cadre des objectifs fixés. Il assure le respect des impératifs de coûts, délai
              et de qualité des projets qu'il sait gérer autant en mode agile qu'en mode plus traditionnel. Soucieux de
              bien comprendre les enjeux des situations, il anticipe les transformations induites par les nouveaux
              systèmes conçus afin de préparer au mieux les acteurs des projets. D'une acuité rare, Mathieu écoute,
              conseille et oriente avec finesse les middle managers qu'il encadre et les clients. En tant qu'ancien
              scrum master et en tant que directeur de projets, il sait adopter une posture de facilitateur pour obtenir
              le meilleur de son equipe. Amoureux du travail bien fait, il sait se remettre en question et mettre tout
              en oeuvre pour faire des projets des succès. Je recommande vivement Mathieu qui au delà de ses talents
              opérationnels est un homme creatif et passionné, droit et juste, curieux, professionnel et persevérant
              !</span
            >
            — <a href="https://www.linkedin.com/in/meveillard/" target="_blank">Corinne Leulier</a>
          </li>
          <li>
            <span class="quote"
              >J'ai travaillé avec Mathieu sur le projet VISION, refonte d'un système d'information pour la sécurité
              sociale. En tant que chef puis directeur de projet, il a géré avec brio le projet et une équipe de 12
              personnes malgré un contexte difficile. Mathieu a montré une gestion d'équipe efficace et conciliante,
              favorisant les initiatives des membres et promouvant le changement. Sa rigueur et sa logique ainsi que sa
              passion pour la technique ont beaucoup apporté à la conception du projet. Bref, travailler avec Mathieu
              fut un réel plaisir.</span
            >
            — <a href="https://www.linkedin.com/in/meveillard/" target="_blank">Henry Nomichith</a>
          </li>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Contact</h2>
        <ul>
          <li><a href="mailto:mathieu.eveillard@gmail.com" target="_blank">mathieu.eveillard@gmail.com</a></li>
          <li>+33 782 967 982</li>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--8-col-tablet">
        <h2>Social feed</h2>
        <ul>
          <a href="https://github.com/mathieueveillard" target="_blank">GitHub</a>
          |
          <a href="https://www.npmjs.com/~mathieueveillard" target="_blank">Npm</a>
          |
          <a href="https://medium.com/@mathieueveillard" target="_blank">Medium</a>
          |
          <a href="https://twitter.com/meveillard" target="_blank">Twitter</a>
          |
          <a href="https://www.linkedin.com/in/meveillard/" target="_blank">LinkedIn</a>
        </ul>
      </div>
    </div>
  </body>
</html>
